/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Nunito', sans-serif;
}

/* scroll bar */

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #ebebad;
}

::-webkit-scrollbar-thumb {
	background: #ff9eb5;
}

.header {
	width: 100%;
	padding: 20px 40px;
	background-color: #ff6f91;
	color: white;
	box-sizing: border-box;
}

/* dropdown */

.dropdown {
	float: right;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 50px;
}

.dropdown p {
	font-size: 24px;
	padding: 14px 16px;
	border: none;
	cursor: pointer;
}

.dropdown-list {
	display: none;
	position: absolute;
	background-color: white;
	right: 30px;
	width: 200px;
	box-shadow: 0 0 13px 0 #ff6f91;
}

.dropdown-list a {
	display: block;
	font-size: 16px;
	color: black;
	padding: 12px 16px;
	text-align: center;
	text-decoration: none;
}

.dropdown-list a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-list {
	display: block;
}

/* main code */

.header h1 {
	font-size: 32px;
	font-weight: bold;
	display: inline-block;
	line-height: 50px;
	text-shadow: 1.2px 1.2px #ff1cb7;
}

.container {
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

.first {
	width: 100%;
	height: 700px;
	box-sizing: border-box;
	padding: 20px;
	text-align: center;
	background-image: url(../imek/wallpaper.png);
	background-position: 0 -50px;
	background-attachment: fixed;
	background-size: cover;
}

.first h1{
	margin-top: 150px;
	font-size: 80px;
	font-weight: bolder;
	color: #ff6f91;
	text-shadow: 2px 1px rgba(0,0,0,1);
}

.first .second-h1 {
	margin-top: 50px;
}

.gallery {
	box-sizing: border-box;
	background-color: #cdf0c2;
}

.first a {
	padding: 10px;
	display: inline-block;
	font-weight: bold;
	margin: 50px 50px;
	color: black;
	font-size: 32px;
	text-shadow: 1px 1px #ff1cb7;
	text-decoration: none;
	transition: .3s ease;
}

.first a:hover {
	color: white;
	text-shadow: 1px 1px #ff1cb7;
	transition: .3s ease;
}

.gallery .text1 {
	width: 483px;
	height: 800px;
	float: left;
	position: relative;
}

.gallery .rina{
	position: relative;
	float: left;
	/*opacity: 0.7;*/
	filter: grayscale(50%);
	width: 347.7px;
	transition: .5s ease;
	height: 800px;
	background-size: cover;
	background-position: -615px 0;
	background-image: url(../imek/rinabefore.png);
}

.gallery .shizuko {
	float: left;
	transition: .5s ease;
	position: relative;
	/*opacity: 0.7;*/
	/*filter: brightness(80%);*/
	filter: grayscale(50%);
	width: 347.7px;
	height: 800px;
	background-size: cover;
	background-position: -795px 0;
	background-image: url(../imek/shizukobefore.png);
}

.gallery .kasumin {
	float: left;
	transition: .5s ease;
	position: relative;
	/*opacity: 0.7;*/
	filter: grayscale(50%);
	width: 347.7px;
	height: 800px;
	background-size: cover;
	background-position: -865px 0;
	background-image: url(../imek/kasumibefore.png);	
}

.text1, .text2, .text3 h1 {
	line-height: 800px;
	font-size: 50px;
	color: white;
	opacity: 1;
	font-weight: bold;
	text-align: center;
}

.gallery2 {
	box-sizing: border-box;
	background-color: #adadeb;
}

.gallery2 .text {
	width: 483px;
	height: 800px;
	position: relative;
	float: right;
}

.gallery2 .ai{
	position: relative;
	float: left;
	opacity: 0.7;
	width: 347.7px;
	transition: .5s ease;
	height: 800px;
	background-size: cover;
	background-position: -545px 0;
	background-image: url(../imek/aibefore.png);
}

.gallery2 .setsuna {
	position: relative;
	float: left;
	opacity: 0.7;
	transition: .5s ease;
	width: 347.7px;
	height: 800px;
	background-size: cover;
	background-position: -555px 0;
	background-image: url(../imek/setsunabefore.png);
}

.gallery2 .ayumu {
	position: relative;
	float: left;
	opacity: 0.7;
	transition: .5s ease;
	width: 347.7px;
	height: 800px;
	background-size: cover;
	background-position: -750px 0;
	background-image: url(../imek/ayumubefore.png);
}

.gallery3 {
	box-sizing: border-box;
	background-color: #dc6f6f;
}

.gallery3 .text3 {
	position: relative;
	float: left;
	width: 483px;
	height: 800px;
}

.gallery3 .karin {
	position: relative;
	float: left;
	opacity: 0.7;
	transition: .5s ease;
	width: 347.7px;
	height: 800px;
	background-size: cover;
	background-position: -750px 0;
	background-image: url(../imek/karinbefore.png);
}

.gallery3 .kanata {
	position: relative;
	float: left;
	opacity: 0.7;
	transition: .5s ease;
	width: 347.7px;
	height: 800px;
	background-size: cover;
	background-position: -460px 0;
	background-image: url(../imek/kanatabefore.png);
}

.gallery3 .emma {
	position: relative;
	float: left;
	opacity: 0.7;
	transition: .5s ease;
	width: 347.7px;
	height: 800px;
	background-size: cover;
	background-position: -570px 0;
	background-image: url(../imek/emmabefore.png);
}

.rina:hover {
	cursor: pointer;
	transition: .5s ease;
	/*opacity: 1;*/
	filter: brightness(100%);
	z-index: 2;
	box-shadow: 0 0 9px 5px #9aa3aa;
	background-image: url(../imek/rina.png);
	background-position: -635px 0;
}

.kasumin:hover {
	cursor: pointer;
	transition: .5s ease;
	/*opacity: 1;*/
	filter: brightness(100%);
	z-index: 2;
	box-shadow: 0 0 9px 5px #ffe41c;
	background-image: url(../imek/kasumin.png);
	background-position: -675px 0;
}

.shizuko:hover {
	cursor: pointer;
	transition: .5s ease;
	/*opacity: 1;*/
	filter: brightness(100%);
	z-index: 2;
	box-shadow: 0 0 9px 5px #73c9f3;
	background-image: url(../imek/shizuko.png);
	background-position: -535px 0;
}

.ayumu:hover {
	cursor: pointer;
	transition: .5s ease;
	opacity: 1;
	z-index: 2;
	box-shadow: 0 0 9px 5px #f27d95;
	background-position: -690px 0;
	background-image: url(../imek/ayumu.png);
}

.ai:hover {
	cursor: pointer;
	transition: .5s ease;
	opacity: 1;
	z-index: 2;
	box-shadow: 0 0 9px 5px #ff5622;
	background-position: -585px 0;
	background-image: url(../imek/ai.png);
}

.setsuna:hover {
	cursor: pointer;
	transition: .5s ease;
	opacity: 1;
	z-index: 2;
	box-shadow: 0 0 9px 5px #de1733;
	background-position: -640px 0;
	background-image: url(../imek/setsuna.png);
}

.karin:hover {
	cursor: pointer;
	transition: .5s ease;
	opacity: 1;
	z-index: 2;
	box-shadow: 0 0 9px 5px #4a60c1;
	background-position: -520px 0;
	background-image: url(../imek/karin.png);
}

.kanata:hover {
	cursor: pointer;
	transition: .5s ease;
	opacity: 1;
	z-index: 2;
	box-shadow: 0 0 9px 5px #aa649d;
	background-position: -595px 0;
	background-image: url(../imek/kanata.png);
}

.emma:hover {
	cursor: pointer;
	transition: .5s ease;
	opacity: 1;
	z-index: 2;
	box-shadow: 0 0 9px 5px #7fc478;
	background-position: -665px 0;
	background-image: url(../imek/emma.png);
}

.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
	background-color: #ff6f91;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.footer h1 {
	text-align: center;
	line-height: 100px;
	font-size: 50px;
	font-weight: bold;
}

.footer a {
	text-decoration: none;
	color: white;
	transition: .5s ease;
}

.footer a:hover {
	text-shadow: 3px 3px #ff1cb7;
	transition: .5s ease;
}

.cp:before,
.cp:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cp:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cp {
    *zoom: 1;
}




