.parent {
	margin: 50px;
	width: 400px;
	height: 300px;
}

.child {
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url(../imek/ayumu.png);
	background-position: center;
	background-size: cover;
	transition: all .5s;
}

.parent:hover .child, .parent:focus .child {
	transform: scale(1.2);
}

.child::before {
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(52, 73, 94, 0.75);
}

.parent:hover .child:before, .parent:focus .child:before {
	display: block;
}